.btn-container{
    width: 400px;
    
}
.btn-group{
    display: flex;
    flex-wrap: wrap;
}
.btn{
    width: 100px;
    height: 50px ;
    border:none;
    cursor: pointer;
    transition: .4s;
}
.btn-long{
    width:300px;
    background-color: orange;
}
.btn-code-lab{
    cursor: none;
    background-color: black;
    color: white;
}
.btn:hover{
    background-color: #a79797;
}
